

/* Separators
--------------------------------------------------------*/

.yellow-separator{
  width: 90px;
  border-top: 0;
  border-bottom: 2px solid $yellow-color;
}


/* Layout
--------------------------------------------------------*/

html, body {
  height: 100%;
  background-color: $grey-bg;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $default-color;
  font-family: helvetica, arial, sans-serif;
  font-weight: $default-font-weight;
  overflow-x: hidden;
  position: relative;
}

li {
  font-size: 16px;
}

#wrap {
  max-width: $wrap-max-width;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.07);
  background-color: white;
}
@media only screen and (max-width: $break-point-cinema) {
  #wrap{
    border: 0;
  }
}
#push {
  height: 100px;
}


/* Modify bootstrap modal
--------------------------------------------------------*/

.well{
  border-radius: 0;
  box-shadow: none;
}



@include media-query(lap) {
  #push {
    height: 100px;
  }
}

.full-width {
  width: 100%;
}

.icon-placeholder{
  width: 100%;
}

@media only screen and (min-width: 768px)
and (max-width: 1200px){
  .container-lap-auto{
    width: auto;
  }
}

.vertical-divide {
  width: 80%;
  border-top: 1px solid $form-divider;
}

#wrap.layout-in-app, #wrap.layout-businesses{
  background-color: $grey-bg;
}

// Outdated browser ===================

.outdated{
  text-align: center;
  padding: 150px 0;
}




//Google iframe hide
iframe[name="google_conversion_frame"]{
  width: 1px;
  height: 1px;
  position: absolute;
}
